<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">
    <nav th:replace="fragments :: navigation"></nav>
    <h1 th:text="${title}">Title</h1>

    <div class="form-group">
        <label class="col-lg-2 control-label">Are you sure you want to delete your account?</label>
        <div class="col-lg-10">
            <div class="radio">
                <label>
                    <input name="optionsRadios" id="optionsRadios1" value="option1" type="radio"/>
                    Yes
                </label>
            </div>
            <div class="radio">
                <label>
                    <input name="optionsRadios" id="optionsRadios2" value="option2" type="radio"/>
                    No
                </label>
            </div>
        </div>
    </div>

</body>
</html>