<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>

<body class="container">

    <title th:text="${title}">Title</title>
    <nav th:replace="fragments :: navigation"></nav>

    <form method="post" th:object="${form}">
        <div class="form-group">
            <label th:for="name">Name</label>
            <input class="form-control" th:field="*{name}" />
            <span th:errors="*{name}" class="error"></span>
        </div>

        <div class="form-group">
            <label th:for="bio">Bio</label>
            <input class="form-control" th:field="*{bio}" />
            <span th:errors="*{bio}" class="error"></span>
        </div>


        <input type="submit" value="Edit Profile" />

    </form>

</body>
</html>