<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body>
    <nav th:replace="fragments :: navigation"></nav>


<div class="container">
    <h1 th:text="${title}">Title</h1>

    <form method="post" th:object="${user}" id="editForm">

        <div class="form-group" id="displayNameGroup">
            <label for="displayNameField" class="control-label">Display Name</label>
            <div>
                <input th:field="*{displayname}" class="form-control" id="displayNameField" placeholder="No longer than 25 characters" type="text"/>
            </div>
        </div>
        <div th:if="${error1}" class="panel panel-danger" id="errorDisplayName">
            <div class="panel-heading">
                <h3 class="panel-title"><strong>Oh snap!</strong> Something went terribly wrong...</h3>
            </div>
            <div th:text="${error1}" class="panel-body">
                Display name must be less than 25 characters
            </div>
        </div>
        <div class="form-group" id="emailGroup">
            <label for="emailField" class="control-label">Email</label>
            <div>
                <input th:field="*{email}" class="form-control" id="emailField" type="text"/>
            </div>
        </div>
        <div th:if="${error2}" class="panel panel-danger" id="errorEmail">
            <div class="panel-heading">
                <h3 class="panel-title"><strong>Oh snap!</strong> Something went terribly wrong...</h3>
            </div>
            <div th:text="${error2}" class="panel-body">
                Please enter a valid email address
            </div>
        </div>
        <div class="form-group">
            <label for="textArea" class="control-label">About You</label>
            <div>
                <textarea th:field="*{bio}" class="form-control" rows="3" placeholder="So what makes you, you?" id="textArea"></textarea>
            </div>
        </div>
        <div th:if="${error3}" class="panel panel-danger" id="errorBio">
            <div class="panel-heading">
                <h3 class="panel-title"><strong>Oh snap!</strong> Something went terribly wrong...</h3>
            </div>
            <div th:text="${error3}" class="panel-body">
                Bio must be shorter than 500 characters
            </div>
        </div>
        <div class="form-group">
            <div>
                <button class="btn btn-default" id="resetButton">Cancel</button>
                <input class="btn btn-primary" type="button" id="submitButton" onclick="submitForm()" value="Edit Profile"/>
            </div>
        </div>

    </form>
</div>

</body>
<script type="text/javascript" th:src="@{/js/form.js}" />
</html>