<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

    <nav th:replace="fragments :: navigation"></nav>

    <div th:each="profile : ${profiles}" class="list-group">
        <a href="#" class="list-group-item">
            <h2 th:text="${profile.displayname}" class="list-group-item-heading">User Display Name</h2>
            <p th:text="${profile.bio}" class="list-group-item-text"></p>
            <div th:each="opportunity : ${profile.opportunities}">
                <h4 th:text="${opportunity.name}">Opportunity Name</h4>
                <p th:text="${opportunity.description}">Opportunity Description</p>
            </div>
        </a>
    </div>

</body>
</html>