<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<nav th:replace="fragments :: navigation"></nav>

<div th:each="profile,iterStat : ${profiles}">
    <div class="panel panel-default">
        <div class="panel-heading">
            <a th:href="@{profile/view/{id}(id=${profile.id})}">
                <h2 th:text="${profile.displayname}">User Display Name</h2>
            </a>
        </div>
        <div th:text="${profile.bio}" class="panel-body">Bio</div>
    </div>
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" th:href="|#collapse${iterStat.index}|">
                        Opportunities</a>
                </h4>
            </div>
            <div th:id="|collapse${iterStat.index}|" class="panel-collapse collapse">
                <ul th:each="opportunity : ${profile.opportunities}" class="list-group">
                    <a th:href="@{opportunity/{id}(id=${opportunity.id})}">
                        <li th:text="${opportunity.name}" class="list-group-item">One</li>
                    </a>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>