<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body>

<nav th:replace="fragments :: navigation"></nav>

<div style="height: 110px;"></div>


<div class="container">
    <div th:object="${user}" class="jumbotron">
        <h1 th:text="${user.username}" class="panel-title">Username</h1>
        <p th:text="${user.bio}">bio</p>
    </div>
    <div class="btn-group btn-group-justified">
        <a th:href="@{edit/{id}(id=${user.id})}" class="btn btn-primary">Edit Profile</a>
        <a href="/opportunity/add" class="btn btn-info">Create Opportunity</a>
        <a href="/profile/delete" class="btn btn-warning">Delete Profile</a>
    </div>

</div>


</body>
</html>