<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<nav th:replace="fragments :: navigation"></nav>

<div th:object="${user}" class="list-group">
    <a href="#" class="list-group-item">
        <h2 th:text="${user.displayname}" class="list-group-item-heading">User Display Name</h2>
        <a th:href="@{edit/{id}(id=${user.id})}">Edit Profile</a>
        <p th:text="${user.bio}" class="list-group-item-text"></p>

    </a>
</div>

</body>
</html>