<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<nav th:replace="fragments :: navigation"></nav>

<div th:object="${user}" class="list-group">
        <h2 th:text="${user.displayname}" class="list-group-item-heading">User Display Name</h2>
        <p th:text="${user.bio}" class="list-group-item-text"></p>
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Location</th>
            </tr>
            </thead>
            <div th:each="opportunity : ${user.opportunities}">
                <tr th:if="${opportunity.claimed} and not ${opportunity.completed}" class="info">
                    <td th:text="${opportunity.name}"></td>
                    <td th:text="${opportunity.description}"></td>
                    <td th:text="${opportunity.location}"></td>
                </tr>
                <tr th:if="${opportunity.claimed} and ${opportunity.completed}" class="success">
                    <td th:text="${opportunity.name}"></td>
                    <td th:text="${opportunity.description}"></td>
                    <td th:text="${opportunity.location}"></td>
                </tr>
                <tr th:if="not ${opportunity.claimed} and not ${opportunity.completed}">
                    <td th:text="${opportunity.name}"></td>
                    <td th:text="${opportunity.description}"></td>
                    <td th:text="${opportunity.location}"></td>
                </tr>
            </div>
        </table>
</div>

</body>
</html>