@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Raleway:600i');





  /*-------------landing page text styling---------------*/

body {
  background-image: url('https://subtlepatterns.com/patterns/gplaypattern.png');
  background-blend-mode: multiply;
}

#body-color {
    background-color: white;
}


/* ------------------- Carousel Styling ------------------- */

.my-carousel {
    position: absolute;
    width: 100%;
    top: 0;
    }




.carousel-inner {
  border-radius: 0px;
}



.carousel-caption {
  background-color: rgba(0,0,0,.5);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  padding: 0 0 10px 25px;
  color: #fff;
  text-align: left;
}

.carousel-indicators {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 15;
  margin: 0;
  padding: 0 25px 25px 0;
  text-align: right;
}

.carousel-control.left,
.carousel-control.right {
  background-image: none;
}


/* ------------------- Section Styling - Not needed for carousel styling ------------------- */

.section-white {
   padding: 10px 0;
}

.section-white {
  background-color: #fff;
  color: #555;
}

@media screen and (min-width: 768px) {

  .section-white {
     padding: 1.5em 0;
  }

}

@media screen and (min-width: 992px) {

  .container {
    max-width: 930px;
  }

}



.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  width: 100%;
  height: 200px;
}



/* ------------------  Social media buttons  ----------------------- */

#socmedia {
  text-align: center;
  width: 100%;
  background: -webkit-linear-gradient(left, #0055aa, #88aa44);
  background: -moz-linear-gradient(left, #0055aa, #88aa44);
  background: linear-gradient(left, #0055aa, #88aa44);

}

.socicon {
  display: inline-block;
  color: black;
  text-decoration: none;
  margin: 15px 4px;
  position: relative;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.socicon:hover {
  color: #fff;
  opacity: 0.9;
  text-shadow: 2px 3px 5px #00d0ff;
  top: -3px;
}

/*----------------  Google Maps styling  ---------------------------*/
#map {
   width: 100%;
   height: 400px;
   background-color: grey;
   }


/*---------------- landing page text --------------*/

#divborder1 {
    top: 550px;
    height: 14rem;
    position: relative;
}

#divborder2 {
    top: 550px;
    height: 22rem;
    position: relative;
}

#wheredoibegin {
    border: 1px solid black;
    height: 14rem;
    width: 16rem;
    border-radius: 20px;
    background:  #bb2222;
    color: white;
    font-size: 5rem;
    font-family: Lobster;
    line-height: 75%;
    text-align: center;
    padding-top: 1%;
    }

.indextext {
    display: inline-block;
    }

#whereanswer {
    height: 14rem;
    width: 80%;
    color: black;
    font-size: 2.75rem;
    font-family: Raleway;
    text-align: center;
    }

@media screen and (max-width: 1020px) {

  #wheredoibegin {
     width: 100%;
     height: 10rem;
     padding: 3%;
  }

  #whereanswer {
     width: 100%;
     padding-top: 5px;
     }

}

#payquestion {
    border: 1px solid black;
    height: 22rem;
    width: 17rem;
    border-radius: 20px;
    background:  #bb2222;
    color: white;
    font-size: 5rem;
    font-family: Lobster;
    line-height: 100%;
    text-align: center;
    padding-top: 1%;
    }


#payanswer {
    height: 22rem;
    width: 80%;
    color: black;
    font-size: 2.75rem;
    font-family: Raleway;
    text-align: center;
    position: absolute;
    padding-top: 2%;
}

@media screen and (max-width: 1020px) {

  #payquestion {
     margin-top: 300px;
     width: 100%;
     height: 17rem;
     padding: 3%;
  }

  #payanswer {
     width: 100%;
     padding-top: 5px;
     position: relative;
     }

}



/*-------------- footer ---------------*/

#footer {
    margin-top: 50rem;}

@media screen and (max-width: 1020px) {

    #footer {
        margin-top: 100rem;
    }
}


/*---------------- myprofile landscape ---------------*/





/*-------------------- myprofile user display ------------------------*/





#profile-background {
    background: #fff url('https://subtlepatterns.com/patterns/use_your_illusion.png') repeat;
    color: #F9F9F8;
}

.fa-check-circle {
    color: aqua;
    }





.divider
{
    border-top:1px solid rgba(0,0,0,0.1);
    }



.dropdown-menu
{
    background-color: #34495e;
    box-shadow: none;
    -webkit-box-shadow: none;
    width: 250px;
    margin-left: -10px;
    }
.dropdown-menu .divider
{
    background:none;
    }
.dropdown-menu>li>a
{
    color:#f5f5f5;
    }
.dropup .dropdown-menu
{
    margin-bottom:10px;
    }
.dropup .dropdown-menu:before
{
    content: "";
    border-top: 10px solid #34495e;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    bottom: -10px;
    left: 50%;
    margin-left: -10px;
    z-index: 10;
    }

#userPic {
    max-width: 225px;    }

/*---------------- opportunity edit/remove link  ---------------*/

#opp-edit-remove a {
    color: black; }


/*--------------------- navbar --------------------------*/

.my-nav {
    position: absolute;
    z-index: 999;
    width: 100%;
    top: 5px;
    }
