<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body>
<nav th:replace="fragments :: navigation"></nav>

<div style="height: 110px;"></div>


<div class="container">
    <div class="row">
        <div id="where-div-1" class="col-sm-4" style="color: #b22222; font-size: 40px;  text-align: right;">
            <strong><em>
            So Where <br/> Do I Begin?</em></strong></div>
        <div class="col-sm-8" style="font-size: 22px; color: #343538;  text-align: left; padding: 20px;"><strong>Signup and checkout our Opportunity page! Get to know some
            other <em>payitforward</em> members and take a look at our local heroes!</strong></div>
    </div>
</div>

<br/>
<br/>
<br/>
<br/>
<br/>


<div class="container">
    <div class="row">
        <div class="col-sm-8" style="color: #000000; font-size: 22px;  text-align: right; padding: 10px;"><strong>No. And as
            the saying goes, your money's no good here. However, we do accept your most valuable asset: YOUR TIME.
            And since time is all we have (that and pizza) we should share it (just like pizza)!</strong></div>
        <div id="do-div-1" class="col-sm-4" style="font-size: 40px; color: #b22222; text-align: left;"><strong><em>
            Do I Really <br/> Have To Pay?</em></strong></div>
    </div>
</div>



</body>


</html>

