<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
    <!--
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
    -->
</head>

<body class="container">

<nav th:replace="fragments :: nav"></nav>



<img th:src="@{/image/pif-logo-1.svg}" class="img-responsive" width="100%" alt="Image"/>




<h1 th:text="${title}">Title</h1>

<div th:each="opportunity : ${opportunities}" class="panel panel-default">
    <div th:text="${opportunity.name}" class="panel-heading">Panel Heading</div>
    <div th:text="${opportunity.description}" class="panel-body">Panel content</div>
    <div th:text="${opportunity.user}" class="panel-body">Panel content</div>
    <div th:text="${opportunity.location}" class="panel-body">Panel content</div>
</div>

<div class="jumbotron">
    <div class="container">
        <h1>Give More. Love More. Be More.</h1>
        <p>Want to get involved?
            Want to help others get involved?
            Want to know your neighbors? <br/>
            Join the <em>payitforward</em> community and <em>BE MORE</em> today!
        </p>
        <p>
            <a href="/about" class="btn btn-primary btn-lg">Learn more</a>
        </p>
    </div>
</div>

</body>
</html>