<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">


    <style>
        div {
            background-color: white;
        }
    </style>

</head>
<body>

<nav th:replace="fragments :: navigation"></nav>


<div style="height: 110px;"></div>



<img th:src="@{/image/pif-logo-1.svg}" class="img-responsive" width="100%" alt="Image"/>

<div class="jumbotron">
    <div class="container">
        <h1>Give More. Love More. Be More.</h1>
        <p>Want to get involved?
            Want to help others get involved?
            Want to know your neighbors? <br/><br/>
            Join the <em>payitforward</em> community and <em>BE MORE</em> today!
        </p>
        <p>
            <a href="/about" class="btn btn-primary btn-lg">Learn more</a>
        </p>
    </div>
</div>

</body>
</html>