<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<nav th:replace="fragments :: navigation"></nav>

<div style="height: 110px;"></div>

<div class="container">

<h1 th:text="${title}">Default Title</h1>

<form method="post" style="max-width:600px;" th:object="${user}">

    <div class="form-group">
        <label th:for="username">Username</label>
        <input class="form-control" th:field="*{username}" />
        <span th:text="${usernameMessage}"></span>
    </div>

    <div class="form-group">
        <label th:for="password">Password</label>
        <input type="password" class="form-control" th:field="*{password}" />
        <span th:text="${passwordMessage}"></span>
    </div>

    <input type="submit" value="Submit" />

    <br/><br/><br/><br/>

    <div>
        <p>Don't have an account? Sign up for one <a href="/signup">here</a></p>
    </div>

</form>
</div>

</body>
</html>