<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body>


<nav th:replace="fragments :: navigation"></nav>


<div class="input-style">
    <h1 style="text-align:center;" th:text="${title}">Default Title</h1>
    <form method="post" style="max-width:600px;" th:object="${opportunity}">
        <div class="form-group">
            <label th:for="name">Name</label>
            <input class="form-control" th:field="*{name}" />
            <span th:errors="*{name}" class="error"></span>
        </div>
        <div class="form-group">
            <label th:for="description">Description</label>
            <textarea rows="5" class="form-control" th:field="*{description}"></textarea>
            <span th:errors="*{description}" class="error"></span>
        </div>
        <div class="form-group">
            <label th:for="location">Location</label>
            <input class="form-control" th:field="*{location}" />
            <span th:errors="*{location}" class="error"></span>
        </div>
        <div class="form-group">
            <label th:for="claimed">How many volunteers do you need?</label>
            <input class="form-control" th:field="*{claimed}" />
            <span th:text="${claimedError}" class="error"></span>
        </div>
        <div class="form-group">
            <label th:for="date">When?</label>
            <input class="form-control" th:field="*{date}"/>
            <span th:errors="*{date}" class="error"></span>
        </div>
        <div class="form-group">
            <label>Category</label>
                    <select name="categoryId">
                        <option th:each="category : ${categories}"
                                th:text="${category.name}"
                                th:value="${category.id}"></option>
                    </select>
        </div>
        <div class="form-group">
            <p>Created by: <span style="color: #bb2222;" th:text="${session.loggedInUser.username}"></span>
            </p>
        </div>
        <div>
            <a href="/profile/myprofile" class="btn btn-primary">Cancel</a>
            <input type="submit" class="btn btn-primary" value="Add Opportunity" />
        </div>
    </form>
</div>
</body>
</html>