<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<h1 th:text="${title}">Default Title</h1>
<nav th:replace="fragments :: navigation"></nav>
<form method="post" style="max-width:600px;" th:object="${opportunity}">
    <div class="form-group">
        <label th:for="name">Name</label>
        <input class="form-control" th:field="*{name}"/>
        <span th:errors="*{name}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="description">Description</label>
        <input class="form-control" th:field="*{description}"/>
        <span th:errors="*{description}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="location">Location</label>
        <input class="form-control" th:field="*{location}" />
        <span th:errors="*{location}" class="error"></span>
    </div>
    <input type="hidden" name="opportunityId" th:value="${opportunity.id}" />
    <input type="submit" value="Edit Opportunity" />
</form>
</body>
</html>