<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<nav th:replace="fragments :: navigation"></nav>

<div style="height: 110px;"></div>


<div class="container">
    <h1 th:text="${title}">Default Title</h1>

    <form method="post" style="max-width:600px;" th:object="${opportunity}">
        <div class="form-group">
            <label th:for="name">Name</label>
            <input class="form-control" th:field="*{name}"/>
            <span th:errors="*{name}" class="error"></span>
        </div>
        <div class="form-group">
            <label th:for="description">Description</label>
            <input class="form-control" th:field="*{description}"/>
            <span th:errors="*{description}" class="error"></span>
        </div>
        <div class="form-group">
            <label th:for="location">Location</label>
            <input class="form-control" th:field="*{location}" />
            <span th:errors="*{location}" class="error"></span>
        </div>
        <div class="form-group">
            <label th:for="claimed">Spots</label>
            <input class="form-control" th:field="*{claimed}" />
            <span th:errors="*{claimed}" class="error"></span>
        </div>
        <input type="hidden" name="opportunityId" th:value="${opportunity.id}" />
        <input type="submit" value="Edit Opportunity" />
    </form>
</div>
<div th:each="claimedUser : ${opportunity.claimingUsers}">
    <ul th:text="${claimedUser.username}"></ul>
</div>
</body>
</html>