<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>

<p th:unless="${opportunities} and ${opportunities.size()}">no opportunities :(</p>
<li>
    <tr th:each="opportunity : ${opportunities}">
        <ul th:text="${opportunity.name}">Name:</ul>
        <ul th:text="${opportunity.description}"></ul>
        <ul th:text="${opportunity.location}"></ul>
        <ul th:text="${opportunity.user}"></ul>

    </tr>


</li>
</body>
</html>