<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>


<nav th:replace="fragments :: navigation"></nav>

<div style="height: 110px;"></div>


<div class="container">
    <h1 th:text="${title}">Default Title</h1>
    <p th:if="${opportunity.getClaimingUsers().size() == 0}"> no claimed users! :( </p>
    <p th:if="${opportunity.getClaimingUsers().size() > 0}"> Manage claimed users. If all claimed users have completed, the list is empty :( </p>
    <form method="post">
        <div th:each="user : ${opportunity.getClaimingUsers()}" class="checkbox">
            <div th:unless="${#lists.contains(opportunity.completingUsers, user)}">

            <input type="checkbox" name="userIds" th:value="${user.id}" th:id="${user.id}"/>
            <label th:for="${user.id}" th:text="${user.username}"></label>
            </div>
        </div>
            <br/>
        <input th:unless="${opportunity.getClaimingUsers().size() == 0}" type="submit" value="Set Completing Users" />
    </form>
</div>
</body>
</html>