<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body>

<nav th:replace="fragments :: navigation"></nav>

<div th:object="${opportunity}" class="list-group">
    <a href="#" class="list-group-item">
        <h2 th:text="${opportunity.name}" class="list-group-item-heading">Opportunity Name</h2>
        <p th:text="${opportunity.description}" class="list-group-item-text"></p>
        <p th:text="${opportunity.location}" class="list-group-item-text"></p>
        <p th:text="${opportunity.claimed}" class="list-group-item-text"></p>
        <p th:text="${opportunity.completed}" class="list-group-item-text"></p>

    </a>
</div>

</body>
</html>>