<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body onload="initialize()">

<nav th:replace="fragments :: navigation"></nav>

<div style="height: 110px;"></div>

<div class="container">
    <div th:object="${opportunity}" class="list-group">
        <a href="#" class="list-group-item">
            <h2 th:text="${opportunity.name}" class="list-group-item-heading">Opportunity Name</h2>
            <p th:text="${opportunity.description}" class="list-group-item-text"></p>
            <p th:text="${opportunity.location}" class="list-group-item-text"></p>
            <p>Spots left: <span th:text="${opportunity.claimed}" class="list-group-item-text"></span></p>
                <p>Created by: <span th:text="${opportunity.getOpportunityCreator() == null ? '' : opportunity.getOpportunityCreator().username}"></span></p>

            <!--<p th:text="${opportunity.completed}" class="list-group-item-text"></p>-->
        </a>
        <a th:href="@{'/opportunity/edit/' + ${opportunity.id}}">Edit</a>
        <a th:href="@{/opportunity/remove}">Remove</a>
    </div>
    <!--Panel for Google Map-->
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 th:text="${opportunity.name}" class="panel-title">Panel primary</h3>
        </div>
        <div class="panel-body">
            <div id="map">
                <option th:value="${opportunity.location}" id="address" class="hidden"/>
            </div>
        </div>
        <div th:text="${opportunity.location}" class="panel-footer">
            Panel footer
        </div>


    </div>
    <form method="post" style="max-width:600px;" th:object="${opportunity}">
        <div th:if="${opportunity.claimed} > 0"  class="form-group">
            <label th:for="claimed">Claim</label>
            <input type="submit" value="Claim this Opportunity?" class="form-control" th:field="*{claimed}" />
            <div th:if="${session.claimedError}" class="panel panel-danger" id="errorUsername">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>Oh snap!</strong> Only unclaimed users can claim!</h3>
                </div>

            </div>
        </div>

        <!--<div th:if="${opportunity.claimed}" class="form-group">-->
        <!--<label th:for="complete">Complete</label>-->
        <!--<input type="submit" value="Complete this Opportunity?" class="form-control" th:field="*{completed}" />-->
        <!--<span th:errors="*{completed}" class="error"></span>-->
        <!--</div>-->
        <!--<div th:if="${opportunity.completed}" class="form-group">-->
        <!--<p class="list-group-item-text">This opportunity has been completed.</p>-->
        <!--</div>-->


    </form>
    <!--Script files for Google Maps and display-->
    <script type="text/javascript" th:src="@{/js/map.js}" />
    <script async="defer" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC62aaJK4X6p9ZrYKrkoecZx4uUo2S8DnQ&amp;callback=initMap" />

</div>
</body>
</html>