<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<form method="post">

    <div th:each="opportunity : ${opportunities}" class="checkbox">
        <input type="checkbox" name="OpportunityIds" th:value="${opportunity.id}" th:id="${opportunity.id}"/>
        <label th:for="${opportunity.id}" th:text="${opportunity.name}"></label>
        <br />
    </div>

    <input type="submit" value="Remove Opportunity" />
</form>

</body>
</html>